In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [34]:
df = pd.read_csv('cardekho_imputated.csv')

In [35]:
df.head()

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [36]:
df.shape

(15411, 14)

In [37]:
df = df.drop('Unnamed: 0', axis = 1)

In [38]:
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [39]:
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [40]:
df = df.drop(['car_name', 'brand'], axis = 1)

In [41]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [42]:
num_features = [features for features in df.columns if df[features].dtype != "O" ]
cat_features = [features for features in df.columns if df[features].dtype == "O" ]

In [43]:
num_features

['vehicle_age',
 'km_driven',
 'mileage',
 'engine',
 'max_power',
 'seats',
 'selling_price']

In [44]:
cat_features

['model', 'seller_type', 'fuel_type', 'transmission_type']

In [45]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [46]:
X = df.iloc[:, :-1]
X

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5
...,...,...,...,...,...,...,...,...,...,...
15406,i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5
15407,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7
15408,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5
15409,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7
15410,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5

In [47]:
df.seller_type.value_counts()

seller_type
Dealer              9539
Individual          5699
Trustmark Dealer     173
Name: count, dtype: int64

In [48]:
Y = df.iloc[:, -1]
Y

0         120000
1         550000
2         215000
3         226000
4         570000
          ...
15406     250000
15407     925000
15408     425000
15409    1225000
15410    1200000
Name: selling_price, Length: 15411, dtype: int64

In [49]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
X['model'] = encoder.fit_transform(X['model'])

In [50]:
X

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5
...,...,...,...,...,...,...,...,...,...,...
15406,117,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5
15407,42,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7
15408,77,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5
15409,114,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7
15410,25,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5

In [51]:
num_features = X.select_dtypes(exclude="object").columns
from sklearn.preprocessing import OneHotEncoder, StandardScaler, LabelEncoder
from sklearn.compose import ColumnTransformer

transformer = ColumnTransformer([
    ('trf1', OneHotEncoder(drop='first', sparse_output= False), ['seller_type','fuel_type','transmission_type']),
    ('trf2', StandardScaler(), num_features),
], remainder='passthrough')

In [52]:
X = transformer.fit_transform(X)

In [53]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [54]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.049630,-1.007681,-0.903125,0.793274,-0.934691,-0.781639,-0.403022
1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.737939,-0.012060,0.278659,1.651555,-0.456846,-0.618740,-0.403022
2,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.022098,-0.675807,-0.786884,1.347081,-0.552799,-0.548927,-0.403022
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.225693,0.319814,-0.203063,1.030620,-0.702485,-0.711825,-0.403022
4,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.710406,0.983562,1.053600,0.766902,-0.456846,-0.618740,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12323,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.013262,-0.675807,0.188766,1.390235,0.022918,-0.046269,-0.403022
12324,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.426247,0.651688,2.455079,-1.103095,1.329794,0.917158,2.073444
12325,1.0,0.0,1.0,0.0,0.0,0.0,1.0,-1.024131,-0.343933,-0.108811,1.510106,0.022918,-0.046269,-0.403022
12326,1.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.501017,1.315436,1.247335,0.071647,-0.167069,-0.758368,-0.403022
12327,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,-0.343933,-0.070064,0.728543,-1.324259,-1.240081,-0.403022

In [55]:
pd.DataFrame(X_test)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.737939,0.651688,-0.128436,-0.144122,-0.554718,-0.344140,-0.403022
1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.060499,0.651688,0.859865,-1.608953,1.934297,-0.013689,2.073444
2,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.710406,-1.007681,-0.717139,0.551133,-0.554718,-0.437225,-0.403022
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-1.326987,0.983562,0.239912,-1.462710,1.989949,-0.874723,2.073444
4,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.710406,-0.343933,-0.380040,0.167544,-0.554718,-0.437225,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3078,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-0.032967,-0.675807,-0.806257,-0.359891,-0.550880,-0.276654,-0.403022
3079,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.536377,0.651688,0.278659,-0.287968,-0.554718,-0.412790,-0.403022
3080,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.737939,1.315436,0.569262,-0.168096,-0.554718,-0.344140,-0.403022
3081,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.024131,2.974805,0.646756,-0.479762,0.020999,-0.525656,-0.403022
3082,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.013262,-1.007681,-0.677675,1.390235,0.022918,-0.046269,-0.403022

In [63]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import  r2_score, classification_report

In [57]:
model1 = LinearRegression()
model1.fit(X_train, Y_train)
Y_pred1 = model1.predict(X_test)
print(r2_score(Y_test,Y_pred1))

0.5228398672364845

In [58]:
model2 = Ridge(alpha=0.1)
model2.fit(X_train, Y_train)
Y_pred2 = model2.predict(X_test)
print(r2_score(Y_test,Y_pred2))

0.5228382231096207

In [59]:
model3 = Lasso(alpha=10)
model3.fit(X_train, Y_train)
Y_pred3 = model3.predict(X_test)
print(r2_score(Y_test,Y_pred3))

0.5228374138436747

In [60]:
model4 = KNeighborsRegressor(n_neighbors=20)
model4.fit(X_train, Y_train)
Y_pred4 = model4.predict(X_test)
print(r2_score(Y_test,Y_pred4))

0.6134909418444022

In [61]:
model5 = DecisionTreeRegressor()
model5.fit(X_train, Y_train)
Y_pred5 = model5.predict(X_test)
print(r2_score(Y_test,Y_pred5))

0.7186480746709123

In [62]:
model6 = RandomForestRegressor(max_samples=0.75, n_estimators=300)
model6.fit(X_train, Y_train)
Y_pred6 = model6.predict(X_test)
print(r2_score(Y_test,Y_pred6))

0.7494072181233525

In [78]:
model7 = AdaBoostRegressor(n_estimators=100, loss="linear")
model7.fit(X_train, Y_train)
Y_pred7 = model7.predict(X_test)
print(r2_score(Y_test,Y_pred7))

0.6312497301790705