In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
df = pd.read_csv('cardekho_imputated.csv')

In [28]:
df.head()

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [29]:
df.shape

(15411, 14)

In [30]:
df = df.drop('Unnamed: 0', axis = 1)

In [31]:
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [32]:
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [33]:
df = df.drop(['car_name', 'brand'], axis = 1)

In [34]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [35]:
num_features = [features for features in df.columns if df[features].dtype != "O" ]
cat_features = [features for features in df.columns if df[features].dtype == "O" ]

In [36]:
num_features

['vehicle_age',
 'km_driven',
 'mileage',
 'engine',
 'max_power',
 'seats',
 'selling_price']

In [37]:
cat_features

['model', 'seller_type', 'fuel_type', 'transmission_type']

In [38]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [39]:
X = df.iloc[:, :-1]
X

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5
...,...,...,...,...,...,...,...,...,...,...
15406,i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5
15407,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7
15408,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5
15409,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7
15410,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5

In [40]:
df.seller_type.value_counts()

seller_type
Dealer              9539
Individual          5699
Trustmark Dealer     173
Name: count, dtype: int64

In [41]:
Y = df.iloc[:, -1]
Y

0         120000
1         550000
2         215000
3         226000
4         570000
          ...
15406     250000
15407     925000
15408     425000
15409    1225000
15410    1200000
Name: selling_price, Length: 15411, dtype: int64

In [42]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
X['model'] = encoder.fit_transform(X['model'])

In [43]:
X

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5
...,...,...,...,...,...,...,...,...,...,...
15406,117,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5
15407,42,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7
15408,77,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5
15409,114,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7
15410,25,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5

In [44]:
num_features = X.select_dtypes(exclude="object").columns
from sklearn.preprocessing import OneHotEncoder, StandardScaler, LabelEncoder
from sklearn.compose import ColumnTransformer

transformer = ColumnTransformer([
    ('trf1', OneHotEncoder(drop='first', sparse_output= False), ['seller_type','fuel_type','transmission_type']),
    ('trf2', StandardScaler(), num_features),
], remainder='passthrough')

In [45]:
X = transformer.fit_transform(X)

In [46]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [47]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.189325,3.638552,0.608009,-1.438735,0.980526,1.239697,-0.403022
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.354519,-1.007681,-0.883732,0.407288,-0.554718,-0.406973,-0.403022
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.985730,-1.339555,-0.612619,1.102543,-0.456846,-0.281308,-0.403022
3,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.958197,-0.343933,-0.535028,-0.645185,0.201390,0.481987,-0.403022
4,0.0,1.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,-0.594253,1.018633,-0.936610,-0.780475,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12323,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.060499,-1.007681,1.171468,-1.999735,2.435170,1.650201,2.073444
12324,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.225693,-0.012060,-0.399414,-0.192071,-0.554718,-0.432571,-0.403022
12325,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.710406,-0.343933,0.549888,2.085490,-0.456846,-0.618740,-0.403022
12326,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.508844,1.647309,0.472394,0.157955,-0.554718,-0.504712,-0.403022
12327,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.024131,-0.012060,-0.050690,-0.407839,0.020999,0.388902,-0.403022

In [48]:
pd.DataFrame(X_test)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.435083,-1.007681,-0.806257,0.790877,-0.934691,-0.781639,-0.403022
1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.886470,-1.007681,0.340364,-0.007468,0.184118,0.596016,-0.403022
2,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.536377,0.319814,-0.883751,-0.263994,-0.554718,-0.436527,-0.403022
3,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.426247,0.651688,0.278659,-1.103095,1.329794,0.917158,2.073444
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.233521,-0.343933,0.671941,-2.062068,1.753906,2.313430,2.073444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3078,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.996599,1.647309,-0.380040,-1.175018,0.600553,0.689101,-0.403022
3079,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.710406,-1.339555,-0.623875,0.551133,-0.554718,-0.437225,-0.403022
3080,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.354519,-1.007681,-0.341293,0.407288,-0.554718,-0.406973,-0.403022
3081,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-1.602311,0.319814,-0.108811,-0.621211,0.924874,1.716058,-0.403022
3082,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.051664,-0.675807,-0.021630,-0.139327,-0.216964,-0.220803,-0.403022

In [49]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import  r2_score, classification_report

In [50]:
model1 = LinearRegression()
model1.fit(X_train, Y_train)
Y_pred1 = model1.predict(X_test)
print(r2_score(Y_test,Y_pred1))

0.541381491843163

In [51]:
model2 = Ridge(alpha=0.1)
model2.fit(X_train, Y_train)
Y_pred2 = model2.predict(X_test)
print(r2_score(Y_test,Y_pred2))

0.5413799510656332

In [52]:
model3 = Lasso(alpha=10)
model3.fit(X_train, Y_train)
Y_pred3 = model3.predict(X_test)
print(r2_score(Y_test,Y_pred3))

0.5413807967289874

In [53]:
model4 = KNeighborsRegressor(n_neighbors=20)
model4.fit(X_train, Y_train)
Y_pred4 = model4.predict(X_test)
print(r2_score(Y_test,Y_pred4))

0.620999451504035

In [54]:
model5 = DecisionTreeRegressor()
model5.fit(X_train, Y_train)
Y_pred5 = model5.predict(X_test)
print(r2_score(Y_test,Y_pred5))

0.7353670643324555

In [55]:
model6 = RandomForestRegressor(max_samples=0.75, n_estimators=300)
model6.fit(X_train, Y_train)
Y_pred6 = model6.predict(X_test)
print(r2_score(Y_test,Y_pred6))

0.7822929719832128

In [60]:
model7 = AdaBoostRegressor(n_estimators=100, loss="linear")
model7.fit(X_train, Y_train)
Y_pred7 = model7.predict(X_test)
print(r2_score(Y_test,Y_pred7))

0.6519690501637164

In [65]:
model8 = GradientBoostingRegressor()
model8.fit(X_train, Y_train)
Y_pred8 = model8.predict(X_test)
print(r2_score(Y_test,Y_pred8))

0.7910264336320801