In [659]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [660]:
df = pd.read_csv('cardekho_imputated.csv')

In [661]:
df.head()

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [662]:
df.shape

(15411, 14)

In [663]:
df = df.drop('Unnamed: 0', axis = 1)

In [664]:
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [665]:
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [666]:
df = df.drop(['car_name', 'brand'], axis = 1)

In [667]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [668]:
num_features = [features for features in df.columns if df[features].dtype != "O" ]
cat_features = [features for features in df.columns if df[features].dtype == "O" ]

In [669]:
num_features

['vehicle_age',
 'km_driven',
 'mileage',
 'engine',
 'max_power',
 'seats',
 'selling_price']

In [670]:
cat_features

['model', 'seller_type', 'fuel_type', 'transmission_type']

In [671]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [672]:
X = df.iloc[:, :-1]
X

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5
...,...,...,...,...,...,...,...,...,...,...
15406,i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5
15407,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7
15408,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5
15409,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7
15410,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5

In [673]:
df.seller_type.value_counts()

seller_type
Dealer              9539
Individual          5699
Trustmark Dealer     173
Name: count, dtype: int64

In [674]:
Y = df.iloc[:, -1]
Y

0         120000
1         550000
2         215000
3         226000
4         570000
          ...
15406     250000
15407     925000
15408     425000
15409    1225000
15410    1200000
Name: selling_price, Length: 15411, dtype: int64

In [675]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
X['model'] = encoder.fit_transform(X['model'])

In [676]:
X

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5
...,...,...,...,...,...,...,...,...,...,...
15406,117,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5
15407,42,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7
15408,77,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5
15409,114,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7
15410,25,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5

In [677]:
num_features = X.select_dtypes(exclude="object").columns
from sklearn.preprocessing import OneHotEncoder, StandardScaler, LabelEncoder
from sklearn.compose import ColumnTransformer

transformer = ColumnTransformer([
    ('trf1', OneHotEncoder(drop='first', sparse_output= False), ['seller_type','fuel_type','transmission_type']),
    ('trf2', StandardScaler(), num_features),
], remainder='passthrough')

In [678]:
X = transformer.fit_transform(X)

In [679]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [680]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.426247,0.651688,-0.126247,-1.103095,1.329794,0.917158,2.073444
1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.556082,-1.339555,-0.651269,1.155286,-0.456846,-0.281308,2.073444
2,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.437117,0.651688,0.031434,-0.407839,-0.552799,-0.323196,-0.403022
3,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.556082,0.319814,-0.186305,-0.165699,-0.046168,0.062175,2.073444
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.343650,1.315436,0.104298,-1.189402,2.891905,3.963357,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12323,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.049630,-0.012060,-0.457534,0.241865,-1.318502,-1.101385,-0.403022
12324,1.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.501017,1.315436,0.472394,0.071647,-0.167069,-0.758368,-0.403022
12325,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.398715,-1.339555,-0.496281,-0.647583,-0.554718,0.186443,-0.403022
12326,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.710406,0.983562,0.704876,0.766902,-0.456846,-0.618740,-0.403022
12327,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.536377,-1.339555,-0.786884,0.680595,-0.172826,-0.275258,-0.403022

In [681]:
pd.DataFrame(X_test)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.225693,0.651688,-0.629280,-0.192071,-0.554718,-0.432571,-0.403022
1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.556082,-0.343933,-0.221952,1.155286,-0.456846,-0.281308,2.073444
2,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.903133,0.651688,-0.121191,-0.865749,0.214823,0.060778,-0.403022
3,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.536377,-0.675807,-0.360376,-0.263994,-0.554718,-0.436527,-0.403022
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.123391,0.651688,0.898747,0.234672,0.976688,2.034176,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3078,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.710406,-1.007681,0.007430,0.551133,-0.554718,-0.437225,-0.403022
3079,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.737939,1.315436,1.247335,-0.096173,-0.456846,-0.621067,-0.403022
3080,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,0.503818,1.018633,-0.936610,-0.780475,-0.403022
3081,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.737939,0.319814,0.026804,0.886774,-0.456846,-0.618740,-0.403022
3082,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.445952,-1.007681,-0.728763,-0.168096,-0.560475,-0.137492,-0.403022

In [691]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import  r2_score, classification_report

In [683]:
model1 = LinearRegression()
model1.fit(X_train, Y_train)
Y_pred1 = model1.predict(X_test)
print(r2_score(Y_test,Y_pred1))

0.6759261853668967

In [684]:
model2 = Ridge(alpha=0.1)
model2.fit(X_train, Y_train)
Y_pred2 = model2.predict(X_test)
print(r2_score(Y_test,Y_pred2))

0.6759261840305041

In [685]:
model3 = Lasso(alpha=10)
model3.fit(X_train, Y_train)
Y_pred3 = model3.predict(X_test)
print(r2_score(Y_test,Y_pred3))

0.6759327648371009

In [686]:
model4 = KNeighborsRegressor(n_neighbors=20)
model4.fit(X_train, Y_train)
Y_pred4 = model4.predict(X_test)
print(r2_score(Y_test,Y_pred4))

0.88278313777059

In [687]:
model5 = DecisionTreeRegressor()
model5.fit(X_train, Y_train)
Y_pred5 = model5.predict(X_test)
print(r2_score(Y_test,Y_pred5))

0.8723061647346574

In [690]:
model6 = RandomForestRegressor(max_samples=0.75, n_estimators=300)
model6.fit(X_train, Y_train)
Y_pred6 = model6.predict(X_test)
print(r2_score(Y_test,Y_pred6))

0.9414193479627698